/* some default styles to make the view more native like */

:root {
  --FIXED_COLOR: #FF5544;
  --DYNAMIC_COLOR: #0AF;
}
html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  position: relative;

  /* Prevent the content from being selectionable */
  -webkit-user-select: none;
  user-select: none;
}

input, textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  padding: 16px;
  width: 100%;
}

button[id='All Fixed'],
button[id='Horizontal Fixed'],
button[id='Vertical Fixed'] {
  border: 2px solid var(--FIXED_COLOR) !important;
}

button[id='All Dynamic'],
button[id='Horizontal Dynamic'],
button[id='Vertical Dynamic'] {
  border: 2px solid var(--DYNAMIC_COLOR) !important;
}

button[id='Width Fixed'] {
  border: 2px solid var(--FIXED_COLOR) !important;
  border-left-color: var(--DYNAMIC_COLOR) !important;
  border-right-color: var(--DYNAMIC_COLOR) !important;
}

button[id='Height Fixed'] {
  border: 2px solid var(--FIXED_COLOR) !important;
  border-top-color: var(--DYNAMIC_COLOR) !important;
  border-bottom-color: var(--DYNAMIC_COLOR) !important;
}

button img {
  width: 12px;
  height: 12px;
  margin-top: 2px;
  margin-right: 8px;
}